.container {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex !important;
    text-align: center !important;
    width: 100% !important;
    height: auto !important;
}

.contact-section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

